<!-- <button (click)="toggleDarkTheme()">Toggle dark theme</button> -->
<h1>Wordle Helper</h1> 
<p>Enter letters to get suggestions for Wrods</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter you word here</mat-label>
    <input [(ngModel)]="letter"  (input)="CreateLetters($event)" matInput placeholder="CRAZY">
  </mat-form-field>
</p>

<div *ngIf="letters.length > 0" class="center">
  <mat-card class="chips-card">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip class="no-wrap" *ngFor="let word of letters">{{word}}</mat-chip>
    </mat-chip-list>
  </mat-card>
  
</div>


<div class="center">
  <mat-card class="chips-card">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip class="no-wrap" *ngFor="let word of filteredWords">{{word}}</mat-chip>
    </mat-chip-list>
  </mat-card>
  
</div>

